.home-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.mint {
    position: absolute;
    right: 10%;
    top: 60%;
    width: 200px;
    height: 200px;
    background: red;
    z-index: 2;
}