.bookList {
  background: url('../../assets/img/bg.png');
  height: 600px;

  .desc {
    color: #f3deb4;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
  }

  .book-container {
    margin: 20px 250px;

    .left {
      display: inline-flex;
      width: 50%;
      .cover {
        width: 200px;
        height: 273px;
      }
      .content {
        position: relative;
        flex: 1;
        color: #fff;
        height: 273px;
        background: url('../../assets//img/2.png');
        padding: 20px;
        .title {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 25px;
        }
        .title-icon {
          width: 13px;
          height: 14px;
          margin-right: 10px;
        }
        .author {
          margin-bottom: 10px;
          font-size: 20px;
          font-family: PangMenZhengDao-Cu, PangMenZhengDao;
          font-weight: normal;
          color: #ffffff;
        }
        article {
          font-size: 9px;
          font-family: PingFangSC-Regular, PingFang SC;
          color: #ffffff;
          line-height: 15px;
        }
        .visitor {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          img {
            width: 27px;
            height: 27px;
          }
        }

        .btn-box {
          position: absolute;
          right: 20px;
          bottom: 20px;
          display: block;
          height: 41px;
          width: 120px;
          background: url('../../assets//img/btn.png');
          background-size: cover;
          text-align: center;
          color: #fff;
          line-height: 41px;
        }
      }
    }

    .right {
      display: inline-block;
      width: 300px;
      height: 273px;
      margin-left: 10%;
      background: url('../../assets//img/soon.png') no-repeat;
      background-size: 100% 100%;
    }
  }
}
