.bookList {
  background: url('../../assets/img/bg.png');
  display: flex;
  justify-content: center;
  flex-direction: column;

  .desc {
    color: #f3deb4;
    text-align: center;
    font-size: 30px;
    align-self: center;
    height: 180px;
    line-height: 180px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 1480px;
    font-size: 78px;
    background: url('../../assets/img/mint_count_bg.png');
  }

  .book-container {
    display: flex;
    align-self: center;
    .left {
      display: inline-flex;
      width: 920px;
      height: 478px;
      .cover {
        // width: 200px;
        // height: 273px;
      }
      .content {
        position: relative;
        flex: 1;
        color: #fff;
        background: url('../../assets//img/2.png');
        padding: 20px;
        .title {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 25px;
          margin-top: 40px;
          span{
            font-size: 30px;
          }
        }
        .title-icon {
          width: 13px;
          height: 14px;
          margin-right: 10px;
        }
        .author {
          margin-bottom: 20px;
          font-size: 20px;
          font-family: PangMenZhengDao-Cu, PangMenZhengDao;
          font-weight: normal;
          color: #ffffff;
          margin-top: 50px;
        }
        article {
          font-size: 9px;
          font-family: PingFangSC-Regular, PingFang SC;
          color: #ffffff;
          line-height: 15px;
        }
        .operator-wrap{
          display: flex;
          justify-content: space-between;
          position: absolute;
          bottom:39px;
          left: 0;
          right: 0;
          .visitor {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: 40px;
            img {
              width: 27px;
              height: 27px;
            }
          }
          
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      width: 460px;
      margin-left: 40px;
      background: url('../../assets//img/soon.png') no-repeat;
      background-size: cover;
      div{
        align-self: center;
      }
      .booklist-right-bookname{
        align-self: center;
        margin-top: 160px;
        font-size: 60px;
        font-family: PangMenZhengDao-Cu, PangMenZhengDao;
        font-weight: normal;
        color: #FFFFFF;
        .booklist-right-bookname-bottom{
          margin: auto;
          width: 40px;
          background: white;
          height: 6px;
        }

      }
      .booklist-right-preview{
        font-size: 18px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 22px;
        margin-top: 130px;
        border-top: solid 1px white;
        border-bottom: solid 1px white;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .book-container {
    width: 1480px;
    height: 478px;
  }
}

.btn-box {
  display: block;
  height: 41px;
  width: 120px;
  background: url('../../assets//img/btn.png');
  background-size: cover;
  text-align: center;
  color: #fff;
  line-height: 41px;
  margin-right: 40px;
}