@import "~normalizecss/normalize.css";
@import "~antd/dist/antd.less";

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  // background-image: url("~@/assets/guohua_bg.jpeg");
  // background-size: 100% 600px !important;
  // background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
input,
textarea {
  outline: none;
  -webkit-user-select: initial;
}
form {
  font-size: 0;
  margin: 0;
  padding: 0;
}
video {
  display: block;
  width: 100%;
  font-size: 0.5rem;
}
img {
  display: block;
  object-fit: cover;
}
p {
  margin: 0;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.mobile-header {
  display: none;
}

.popup-menu {
  .navs {
    display: flex;
    flex-direction: column;

    a {
      list-style: none;
      font-weight: 600;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.5);;
      display: block;
      margin-bottom: 32px;
    }
  }

  .btn-close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 12px;
    cursor: pointer;
  }
}

@media (max-width: 720px) {
  .header {
    display: none !important;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    padding-right: 30px;
    height: 48px;
    left: 0px;
    top: 0px;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 1000;
  
    .h-left {
      img {
        width: 90px;
      }
    }
  
    .h-right {
      cursor: pointer;
    }
  }

  .banner {
    height: unset !important;
  }

  .swiper-slide img {
    height: 320px !important;
  }
}